body{
    background-color: rgb(37, 11, 11);
    color: lightslategrey;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid grey;
    margin:25px 0;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    border: 2px solid gray;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}

a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

li:hover{
    background-color: lightgray;
}

li:hover a{
    color: darkred;
}